.containSlider {
    width: 100%;
    height: 700px;
    overflow: hidden;

    .slick-slider {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 10px;

        .slick-list {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .slick-track {
                height: 100%;
                height: 100%;

                .slick-slide {
                    height: 100%;
                    width: 100%;

                    div {
                        width: 100%;
                        height: 100%;

                        .sliderCaja {
                            height: 100%;
                            width: 100%;
                            padding: 5px;
                            display: flex !important;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-content: center;
                            justify-content: flex-start;
                            align-items: center;
                            overflow: hidden;
                            gap: 10px;

                            text-decoration: none;

                            @include notebook(){
                                display: flex !important;
                                flex-direction: column;
                            } 

                            // &.dragonBall{
                            //     background: #EA6E14;
                            // }
                            // &.pokemon{
                            //     background: #0B48A5;
                            // }
                            // &.onePunch{
                            //     background: #000000;
                            // }
                            // &.mandalorian{
                            //     background: #345C8D;
                            // }
                            // &.onePiece{
                            //     background: #51A1CB ;
                            // }
                            // &.badBatch{
                            //     background: #cc5454;
                            // }

                            img {
                                width: 70%;
                                height: 100%;
                                aspect-ratio: 21 / 9;
                                object-fit: cover;
                                
                                @include notebook(){
                                    width: 100%;
                                    height: 45%;
                                } 
                                
                            }

                            .contenidoSlider {
                                width: 30%;
                                height: 100%;
                                padding: 10px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: nowrap;
                                align-content: center;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;

                                @include notebook(){
                                    width: 100%;
                                    height: 55%;
                                    display: flex;
                                    flex-direction: row;
                                } 

                                .titulos {
                                    width: 100%;
                                    height: 150px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    justify-content: center;
                                    align-content: center;
                                    flex-wrap: nowrap;
                                    overflow: hidden;
                                    gap: 10px;
                                    
                                    @include notebook(){
                                        width: 40%;
                                        height: 100%;
                                    } 

                                    h2 {
                                        font-family: $tituloGeneral;
                                        text-transform: capitalize;
                                        color: $color3;
                                        font-weight: 600;
                                        font-size: 1.7rem;
                                    }

                                    p {
                                        font-family: $parrafoGeneral;
                                        font-size: 1rem;
                                        font-weight: 600;
                                        color: $color2;
                                    }
                                }

                                .minisCard {
                                    width: 100%;
                                    height: calc(100% - 200px);
                                    padding: 5px;
                                    overflow: hidden;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;
                                    gap: 5px;

                                    @include notebook(){
                                        width: 60%;
                                        height: 100%;
                                    } 

                                    .cardBanner {
                                        height: 120px;
                                        width: 150px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        align-content: center;

                                        @include notebook(){
                                            height: 100px;
                                            width: 100px;
                                        }

                                        img {
                                            width: 100%;
                                            aspect-ratio: 1 / 1;
                                            object-fit: contain;
                                            
                                            @include notebook(){
                                                height: 100%;
                                                object-fit: contain;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

            }
        }

    }

    button {
        display: none;
        height: auto;
        width: auto;

        &::before {
            font-size: 30px;
            font-family: $tituloGeneral;
            font-weight: 700;
            color: $color3;
        }
    }

    .slick-dots {
        position: relative;
        height: 10%;
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
        bottom: 0;

        li {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            button {

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 10px;
                    height: 10px;
                    top: calc(50% - 5px);
                    left: calc(50% - 5px);
                    background: $color3;
                    color: $color4;
                    border-radius: 50%;
                    font-family: "slick";
                    font-size: 6px;
                    line-height: 20px;
                    text-align: center;
                    opacity: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    transition: .5s;
                }
            }

            &.slick-active button:before {
                background: $color4;

            }
        }
    }

    // .slider{
    //     background: $color3;
    // }

}