// Puntos quiebre pantalla
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fuentes a usar
$tituloGeneral:( 'Roboto', sans-serif);
$parrafoGeneral:('Nunito', sans-serif);

// Paleta de colores
$color1a:#141c16;
$color1b:#0c0e09;

$color2:#FFFFFF;
$color3:#69F085;
$color4:#E1D956;
$color5:#9ABBEB;

$color6:#333;
$color7:#ff6347;
$color8:#f73f3f;

$bordeCard:#342e56;
$transitionGen: .7s;